# Frontend build variable
REACT_APP_API_URL=https://example-api.azurewebsites.net

# API runtime configuration
ASPNETCORE_ENVIRONMENT=Production
AllowedOrigins__0=https://example-web.azurestaticapps.net
ConnectionStrings__DefaultConnection=
Jwt__Key=
Jwt__Issuer=ConcreInnovaAPI
Jwt__Audience=ConcreInnovaWeb
EmailSettings__Host=sandbox.smtp.mailtrap.io
EmailSettings__Port=2525
EmailSettings__Username=
EmailSettings__Password=
